html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 270px;
    height: 80px;
    border: 0;
    outline: none;
    background: #777777;
    color: #fff;
    font-size: 24px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba (0,0,0,5);
}